body {
  background-color: #FAF6F7;
  margin: 0;
  font-size: 100%;
}

/* Police titre, sous-titre, sous-section, bouttons connexions et essayer, etc. */
h1, h2, h3, .signin, .signup, .footer-link, .legal-link, .card-title, .btn {
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
}

/* Couleur titre, sous-titre */
h1, h2 {
  color: #28305D;
}

/* Taille police */
h1 {
  font-size: 5.5rem;
}

.title-t, .top-title-right {
  font-size: 5rem;
}

h2, h3, .subtitle, .subsection {
  font-size: 4rem;
}

p, .subnote, .card-text, .card-title, .btn {
  font-size: 3rem;
}

.signin, .signup, , .legal-link {
  font-size: 0.8rem;
}

h2 {
  margin-left: 5%;
}

h3 {
  color: #1E5F74;
  margin-left: 5%;
}

p {
  color: #133B5C;
  margin-left: 7.5%;
  font-family: Comfortaa;
}

nav {
  background-color: #28305D;
  height: 80px;
  width: 100%;
}

/* HEADER : Logo + Boutons Connexion et Essayez */
.logo {
  margin-right: 0;
  position: relative;
  bottom: 0.2rem;
  left: 5rem;
}

.signin {
  height: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  line-height: 50%;
  letter-spacing: normal;
  color: #fff;
  background-color: #28305D;
  border: 0;
  text-align: center;
  position: relative;
  right: 4rem;
}

.signup {
  border-radius: 40px;
  height: 2rem;
  color: #fff;
  background-color: #c33764;
  border: 0;
  line-height: 50%;
  text-align: center;
  position: relative;
  right: 3rem;
}

/* BODY */
.title {
  text-align: center;
  margin-top: 5rem;
  padding-top: 5rem;
}

.title-t {
  margin-bottom: 3rem;
}

.container-fluid {
  margin-bottom: 5rem;
}

/* Texte de droite pour chaque séance*/
.top-title-right {
  text-align: center;
  padding-top: 3rem;
}

.content-container {
  margin: 5%;
  line-height: 2em;
}

/* FOOTER */
footer {
  background-color: #28305D;
  text-align: center;
  padding: 0.75rem;
}

.footer-link {
  color: #FAF6F7;
  margin: 2rem 2rem;
  text-decoration: none;
}

a:hover {
  color: #C33764;
}

.legal-link {
  color: #FAF6F7;
  margin: 2rem 2rem;
  padding-top: 2rem;
  text-decoration: none;
}

/* Cartes des programmes */
.card {
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .1);
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
}

.col {
  margin-bottom: 2rem;
}

.card-title {
  color: #28305D;
  margin-left: 1.2rem;
}

/* Passage souris sur la carte des programmes */
.card:hover {
  box-shadow: 0 30px 70px rgba(0, 0, 0, .2);
}

/* Image programmes */
.card-img-top {
  border-radius: 50%;
  margin: 1.5rem auto 1.5rem auto;
  width: 50%;
}

/* Boutons Apple et PlayStore */
.btn {
  position: relative;
  bottom: 0.7rem;
  width: 80%;
  margin-bottom: 1.2rem;
}

/* Logo Apple et PlayStore */
.fab {
  font-size: 1rem;
}

/* Padding Carte */
.card-pad {
  padding: 1rem 4rem;
}

/* Titre Retrouvez tous nos programmes sur l'app */
.subsection {
  padding: inherit;
  text-align: center;
}

.store {
  text-decoration: none
}
